  <div class = "pictures">
   <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('2.jpg',:alt => "2jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('4.jpg',:alt => "4jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('5.jpg',:alt => "5jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('7.jpg',:alt => "7jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('8.jpg',:alt => "8jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <%= image_tag('9.JPG',:alt => "9jpg",:id => "style_image") %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag('10.jpg',:alt => "10jpg",:id => "style_image") %>
        </div>
      </div>
  </div>
</div>